@model IEnumerable<SE.ApplicationCore.Domain.Prestation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.HeureDebut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbrHeures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prestataire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.HeureDebut)
            </td>
      
            <td>
                @Html.DisplayFor(modelItem => item.NbrHeures)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Coordonnees.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prestataire.PrestataireNom)
            </td>
            <td>
                 @Html.ActionLink("Prestataire", "Details", new {  id=item.Prestataire.PrestataireId }) |
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new {  /* id=item.PrimaryKey * }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
